<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>

<swal #swalAlert title="MENSAJE" text="DOCUMENTO NO ENCONTRADO" type="warning">
</swal>

<div class="main-container">
  <header class="header header-6">
    <span class="icono"><clr-icon shape="backup"></clr-icon></span> CONSULTA DE
    DOCUMENTOS ELECTRONICOS
  </header>
  <div class="content-container">
    <div class="content-area">
      <div
        class="clr-col-lg-8 clr-offset-lg-2 clr-align-self-center clr-justify-content-center"
      >
        <div class="card">
          <div class="card-header" style="text-align:center;">
            <a href="http://www.autobacks.pe/" target="_blank">
              <img
                src="assets/images/logo_ab.png"
                alt="LOGO AUTOBACKS"
                height="100"
                width="200"
              />
            </a>
          </div>
          <div class="card-block">
            <form
              clrForm
              clrLayout="vertical"
              [formGroup]="busqFrm"
              novalidate
              (ngSubmit)="consultarDocumento()"
            >
              <div class="clr-row">
                <div class="clr-col-12">
                  <div class="clr-form-control">
                    <label for="select-error" class="clr-control-label"
                      >Tipo Documento</label
                    >
                    <div class="clr-control-container">
                      <div class="clr-select-wrapper">
                        <select
                          class="clr-select"
                          formControlName="tipoDocumento"
                        >
                          <option value="2">Factura (F)</option>
                          <option value="1">Boleta (B)</option>
                          <option value="4">Nota de Crédito</option>
                          <option value="6">Nota de Débito</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clr-row">
                <div class="clr-col-6">
                  <clr-input-container>
                      <label>Serie</label>
                      <input
                        type="text"
                        clrInput
                        autocomplete="off"
                        formControlName="serie"
                      />
                    <clr-control-error>CAMPO REQUERIDO</clr-control-error>
                  </clr-input-container>
                </div>
                <div class="clr-col-6">
                  <clr-input-container>
                    <label>Número</label>
                    <input
                      type="text"
                      clrInput
                      autocomplete="off"
                      formControlName="numero"
                    />
                    <clr-control-error>CAMPO REQUERIDO</clr-control-error>
                  </clr-input-container>
                </div>
              </div>
              <div class="clr-row">
                <div class="clr-col-6">
                  <clr-date-container>
                    <label>Fecha Emisión</label>
                    <input type="date" clrDate formControlName="fechaEmision" />
                    <clr-control-error>CAMPO REQUERIDO</clr-control-error>
                  </clr-date-container>
                </div>
                <div class="clr-col-6">
                  <clr-input-container>
                    <label>Total</label>
                    <input
                      type="text"
                      clrInput
                      autocomplete="off"
                      formControlName="total"
                    />
                    <clr-control-error>CAMPO REQUERIDO</clr-control-error>
                  </clr-input-container>
                </div>
              </div>
              <div class="clr-row">
                <div class="clr-col">
                  <div class="button-container">
                    <button
                      type="submit"
                      [disabled]="busqFrm.invalid"
                      class="btn btn-primary btn-icon"
                    >
                      <clr-icon shape="search"></clr-icon> Consultar
                    </button>
                    <button
                      type="button"
                      (click)="limpiar()"
                      class="btn btn-warning-outline btn-icon"
                    >
                      <clr-icon shape="trash"></clr-icon> Limpiar
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer" *ngIf="found">
            <button class="btn btn-sm btn-icon btn-link" (click)="showXML()">
              <clr-icon shape="file"></clr-icon>Descargar XML
            </button>
            <button class="btn btn-sm btn-icon btn-link" (click)="showPdf()">
              <clr-icon shape="file"></clr-icon>Descargar PDF
            </button>
          </div>
          <p>Creado por &copy; SGE Systems SAC</p>
        </div>
      </div>
    </div>
  </div>
</div>
