:host ::ng-deep {
  .header {
    padding: 1em !important;
  }

  .icono {
    margin-right: 0.5em !important;
  }

  .button-container {
    margin-top: 1em;
  }

  .clr-select-wrapper {
    width: 100% !important;
  }

  .clr-control-container {
    width: 100% !important;
  }

  select {
    width: 100% !important;
  }

  clr-input-container {
    width: 100% !important;
  }

  input {
    width: 100% !important;
  }

  .clr-custom-input-wrapper {
    width: 100% !important;
  }

  .clr-input-group {
    width: 100% !important;
  }

  .clr-input {
    width: 100% !important;
  }
}
